# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large media files
/public/projects/**/*.mp4
/public/projects/**/*.mov
/public/projects/**/*.webm
/public/**/*.mp4
/public/**/*.mov
/public/**/*.webm
/public/**/*.jpg
/public/**/*.jpeg
/public/**/*.png
/public/**/*.gif
/public/fonts/

# Ignore large dependency metadata
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?